c Modified by xyzFancyModifier
c Used with seed 13 and p 0.05
c Sampled from 22557 resolvents
c Original cnf file k3-n500-m2100-r4.200-s1367145976.cnf
c Resolvent file k3-n500-m2100-r4.200-s1367145976.resolvents
c A kcnfgen generated CNF file.
c kcnfgen version 1.0
c Contact Oliver Gableske (oliver@gableske.net) if problems occur.
c k = 3, n = 500, m = 2100, a = 1, s = 2269 fileNum = 1367145976
